body {
    scroll-behavior: smooth;
    overflow: hidden;
}

.full {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vis-container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.text-box {
    z-index: 10;
}

.text-only p {
    max-width: 75rem;
}

.visualization {
    width: 80vw;
    height: 80vh;
    background-color: rgb(223, 223, 223);
    border-radius: 1rem;
}

.temptitle {
    align-self: center;
}

.mobile-buttons {
    position: fixed;
    bottom: 1rem;
    left: calc(50% - 45%);
    display: flex;
    width: 90%;
    justify-content: space-between;
}

@media (min-width: 64rem) {
    .mobile-buttons {
        display: none;
    }
}